<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easylinker.quartz.mapper.QrtzTriggersMapper">
  <resultMap id="BaseResultMap" type="com.easylinker.quartz.entity.QrtzTriggers">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SCHED_NAME" jdbcType="VARCHAR" property="schedName" />
    <id column="TRIGGER_NAME" jdbcType="VARCHAR" property="triggerName" />
    <id column="TRIGGER_GROUP" jdbcType="VARCHAR" property="triggerGroup" />
    <result column="JOB_NAME" jdbcType="VARCHAR" property="jobName" />
    <result column="JOB_GROUP" jdbcType="VARCHAR" property="jobGroup" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="NEXT_FIRE_TIME" jdbcType="BIGINT" property="nextFireTime" />
    <result column="PREV_FIRE_TIME" jdbcType="BIGINT" property="prevFireTime" />
    <result column="PRIORITY" jdbcType="INTEGER" property="priority" />
    <result column="TRIGGER_STATE" jdbcType="VARCHAR" property="triggerState" />
    <result column="TRIGGER_TYPE" jdbcType="VARCHAR" property="triggerType" />
    <result column="START_TIME" jdbcType="BIGINT" property="startTime" />
    <result column="END_TIME" jdbcType="BIGINT" property="endTime" />
    <result column="CALENDAR_NAME" jdbcType="VARCHAR" property="calendarName" />
    <result column="MISFIRE_INSTR" jdbcType="SMALLINT" property="misfireInstr" />
    <result column="JOB_DATA" jdbcType="LONGVARBINARY" property="jobData" />
  </resultMap>
</mapper>