<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easylinker.quartz.mapper.QrtzSchedulerStateMapper">
  <resultMap id="BaseResultMap" type="com.easylinker.quartz.entity.QrtzSchedulerState">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SCHED_NAME" jdbcType="VARCHAR" property="schedName" />
    <id column="INSTANCE_NAME" jdbcType="VARCHAR" property="instanceName" />
    <result column="LAST_CHECKIN_TIME" jdbcType="BIGINT" property="lastCheckinTime" />
    <result column="CHECKIN_INTERVAL" jdbcType="BIGINT" property="checkinInterval" />
  </resultMap>
</mapper>