<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easylinker.quartz.mapper.QrtzCalendarsMapper">
  <resultMap id="BaseResultMap" type="com.easylinker.quartz.entity.QrtzCalendars">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SCHED_NAME" jdbcType="VARCHAR" property="schedName" />
    <id column="CALENDAR_NAME" jdbcType="VARCHAR" property="calendarName" />
    <result column="CALENDAR" jdbcType="LONGVARBINARY" property="calendar" />
  </resultMap>
</mapper>