<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyLinker</title>

</head>
<style>
    h1 {
        text-align: center;

        font-size: 60px;
        font-family: 'Courier New', Courier, monospace;
        color: #CCCCCC;
    }
    h2{
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        color: antiquewhite;
    }

    body {
        margin-top: 200px;
        text-align: center;
        color: #CCCCCC;
        background-color: #000000;
    }

</style>

<body>
<div class="main">
    <div class="main">
        <h1>EasyLinker</h1>
        <h2>V2.1@2018.3-ByEasyteam.</h2>
        <a href="https://github.com/wwhai/EasyLinker/blob/master/README.md" style="color:aqua;">文档</a>
        <a href="http://www.easylinker.xyz/" style="color:aqua;">社区</a>
        <a href="https://github.com/wwhai/EasyLinker" style="color:aqua;">github</a>
    </div>


</div>
</body>

</html>