<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyLinker</title>

</head>
<style>
    h1 {
        text-align: center;
        font-size: 90px;
        font-family: 'Courier New', Courier, monospace;
        color: #CCCCCC;
    }
    h2 {
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        color: antiquewhite;
    }

    body {

        text-align: center;
        color: #CCCCCC;
        background-color: #000000;
    }
    ul {width:300px; height:auto; margin:0px auto;}
    ul li {  text-align:center}
</style>

<body>
<div class="main">
    <div class="main">

        <h1>EasyLinker</h1>
        <img src="logo.png" width="100px" style="margin:50px auto; ">

        <h2>更新日志</h2>
        <div style="position: relative;margin-top: 50px;">
            <ul>
                <li>集成Activemq</li>
                <li>增加Redis支持</li>
                <li>实现动态ACL</li>
            </ul>
        </div>

        <div style="margin-top: 100px;">
            <h2>V3@2018.9-ByEasyteam.</h2>
            <a href="https://github.com/wwhai/EasyLinker/blob/master/README.md" style="color:aqua;">文档</a>
            <a href="http://www.easylinker.xyz/" style="color:aqua;">社区</a>
            <a href="https://github.com/wwhai/EasyLinker" style="color:aqua;">github</a>
        </div>

    </div>


</div>
</body>

</html>